<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head %}
    {% endblock %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="stylesheet" href="//cdn.materialdesignicons.com/5.1.45/css/materialdesignicons.min.css">
</head>

<body>
    <nav class="navbar is-fixed-top">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='resources/img/yumsh2.png') }}" height="28">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <div class="is-hidden-desktop">
                    <ul class="menu-list">
                        <li>
                            <a class="{% block is_home_navbar %}{% endblock %}" href="{{ url_for('index') }}">
                                <span class="icon mdi mdi-24px mdi-home"></span> Главная
                            </a>
                        </li>
                        <li>
                            <a class="{% block is_chat_navbar %}{% endblock %}" href="{{ url_for('chat') }}">
                                <span class="icon mdi mdi-24px mdi-comment"></span> Чат
                            </a>
                        </li>
                        <li>
                            <a class="{% block is_table_navbar %}{% endblock %}" href="{{ url_for('table') }}">
                                <span class="icon mdi mdi-24px mdi-table"></span> Таблица
                            </a>
                        </li>
                        <li>
                            <a class="{% block is_news_navbar %}{% endblock %}" href="{{ url_for('news') }}">
                                <span class="icon mdi mdi-24px mdi-newspaper-variant"></span> Новости
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('events', mode='current') }}"><span
                                    class="icon mdi mdi-24px mdi-calendar"></span> Занятия</a>
                            <ul class="menu-list">

                                {% for events_mode in events_modes %}
                                <li>
                                    <a href="{{ url_for('events', mode=events_mode) }}" class="is-capitalized">
                                        {% if events_mode == 'expired' %}
                                        Предыдущие
                                        {% endif %}
                                        {% if events_mode == 'current' %}
                                        Текущие
                                        {% endif %}
                                        {% if events_mode == 'failed' %}
                                        Неотправленные
                                        {% endif %}
                                        {% if events_mode == 'sent' %}
                                        Отправленные
                                        {% endif %}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            {% block navbar_start %}
            {% endblock %}

            <div class="navbar-end">
                {% block navbar_end %}
                {% endblock %}
                {% if current_user.login %}
                <div class="navbar-item has-dropdown is-hoverable is-info">
                    <a class="navbar-link">
                        <span
                            class="icon mdi mdi-24px mdi-account"></span>&nbsp;{{ current_user.firstname + ' ' + current_user.lastname + ' (' + current_user.login + ')' }}
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/profile">Профиль</a>
                        <a class="navbar-item" href="{{ url_for('logout') }}">Выйти</a>
                    </div>
                </div>
                {% else %}
                <div class="navbar-item">
                    <div class="buttons button-container">
                        <a href="{{ url_for('register') }}" class="button is-primary">
                            <strong>Регистрация</strong>
                        </a>
                        <a href="{{ url_for('login_page') }}" class="button is-light">
                            Вход
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        </div>
    </nav>

    <div class="columns is-fullheight">
        <div class="column is-2 is-hidden-touch">
            <aside class="menu sticky">
                <ul class="menu-list">
                    <li>
                        <a class="{% block is_home %}{% endblock %}" href="{{ url_for('index') }}">
                            <span class="icon mdi mdi-24px mdi-home"></span> Главная
                        </a>
                    </li>
                    <li>
                        <a class="{% block is_chat %}{% endblock %}" href="{{ url_for('chat') }}">
                            <span class="icon mdi mdi-24px mdi-comment"></span> Чат
                        </a>
                    </li>
                    <li>
                        <a class="{% block is_table %}{% endblock %}" href="{{ url_for('table') }}">
                            <span class="icon mdi mdi-24px mdi-table"></span> Таблица
                        </a>
                    </li>
                    <li>
                        <a class="{% block is_news %}{% endblock %}" href="{{ url_for('news') }}">
                            <span class="icon mdi mdi-24px mdi-newspaper-variant"></span> Новости
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('events', mode='current') }}"><span
                                class="icon mdi mdi-24px mdi-calendar"></span> Занятия</a>
                        <ul class="menu-list">

                            {% for events_mode in events_modes %}
                            <li>
                                <a href="{{ url_for('events', mode=events_mode) }}" class="is-capitalized">
                                    {% if events_mode == 'expired' %}
                                    Предыдущие
                                    {% endif %}
                                    {% if events_mode == 'current' %}
                                    Текущие
                                    {% endif %}
                                    {% if events_mode == 'failed' %}
                                    Неотправленные
                                    {% endif %}
                                    {% if events_mode == 'sent' %}
                                    Отправленные
                                    {% endif %}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% block sidebar %}
                    {% endblock %}
                </ul>
            </aside>
        </div>
        <div class="column is-main-content is-fullwidth">
            {% block header %}
            {% endblock %}
            {% block main %}
            {% endblock %}
        </div>
    </div>

    {% block footer %}
    {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script text="javascript">
        $(() => {
            // Check for click events on the navbar burger icon
            $(".navbar-burger").click(() => {

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");

            });
        });
    </script>
    {% block scripts %}
    {% endblock %}

</body>

</html>
