{% extends "base.html" %}

{% block head %}
<title>Чат</title>
{% endblock %}

{% block main %}

<div class="box">
	<section class="hero">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">
					Страница находится на стадии разработки...
				</h1>
			</div>
		</div>
	</section>
</div>

{% endblock %}