{% extends "base.html" %}


{% block head %}

<title>Подтверждение</title>

{% endblock %}

{% block header %}

{% endblock %}

{% block main %}
<section class="section">
    <div class="box">
        <h1 class="is-size-1 is-size-3-mobile has-text-centered">
            Подтверждение
        </h1>

        <br>

        {% if info %}
        <div class="box has-background-success">
            <p class="help is-size-5 is-size-6-mobile has-text-white" id="info">
                {{ info[0] }}
            </p>
        </div>
        {% endif %}

        <br>

        <div class="is-size-5 is-size-6-mobile">
            Мы отправили письмо для подтверждения на
            <b>{% if current_user.email %}{{ current_user.email }}{% endif %}</b>.

            <br>

            Чтобы подтвердить адрес своей электронной почты, пожалуйста нажмите на ссылку в письме.

            <br>

            Если письмо не пришло и вы уже проверили папку "СПАМ", то вы можете послать ещё одно, нажав на кнопку.
        </div>

        <br>

        {% if current_user.id %}
        <form method="POST" action="{{ url_for('confirm') }}">
            <button class="button is-primary" type="submit">
                Отправить
            </button>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        </form>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block scripts %}
{% endblock %}
