{% extends 'base.html' %}

{% block is_card %}
is-active
{% endblock %}

{% block navbar_start %}

{% endblock %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/events.css') }}">
<title>Занятия</title>

{% endblock %}

{% block main %}

<div class="content container is-fluid section">

	<div class="columns is-multiline is-mobile" id="cards">

	</div>

</div>

{% endblock %}

{% block scripts %}

<script>
	let mode = '{{ mode }}';
	(function () {
		var csrf_token = "{{ csrf_token() }}";

		$.ajaxSetup({
			beforeSend: function (xhr, settings) {
				if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrf_token);
				}
			}
		});
	})();
</script>

<script src="{{ url_for('static', filename='js/autolink.js') }}"></script>
<script src="{{ url_for('static', filename='js/post.js') }}"></script>
<script src="{{ url_for('static', filename='js/user.js') }}"></script>
<script src="{{ url_for('static', filename='js/task.js') }}"></script>
<script src="{{ url_for('static', filename='js/events/event.js') }}"></script>
<script src="{{ url_for('static', filename='js/events/events_main.js') }}"></script>

{% endblock %}