{% extends 'main.html' %}

{% block head %}

<title>YMS App Files test</title>

{% endblock %}

{% block main %}
<form id="upload-file" method="post" enctype="multipart/form-data">
	<fieldset>
		<label for="file">Select a file</label>
		<input name="file" type="file">
	</fieldset>
	<fieldset>
		<button id="upload-file-btn" type="button">Upload</button>
	</fieldset>
</form>
{% endblock %}

{% block script %}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript">
	var csrf_token = "{{ csrf_token() }}";

	$.ajaxSetup({
		beforeSend: function (xhr, settings) {
			if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
				xhr.setRequestHeader("X-CSRFToken", csrf_token);
			}
		}
	});

	$(function () {
		$('#upload-file-btn').click(function () {
			var form_data = new FormData($('#upload-file')[0]);
			$.ajax({
				type: 'POST',
				url: '/api/v1/files/upload',
				data: form_data,
				contentType: false,
				cache: false,
				processData: false,
				success: function (data) {
					console.log('Success!');
				},
			});
		});
	});
</script>
<script>
	$(document).ready(function () {
		$('#action_menu_btn').click(function () {
			$('.action_menu').toggle();
		});
	});
</script>

{% endblock %}