{% extends 'base.html' %}

{% block is_home %}
is-active
{% endblock %}

{% block head %}

<title>Главная</title>

{% endblock %}

{% block main %}

<section class="container section">

    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Система дистанционного обучения
                </h1>
                <br>
                <h2 class="subtitle">

                    <div class="box container text">
                        <div class="field">
                            <div class="control is-size-4">
                                Мы предлагаем Вам использовать реализованную нами удобную систему управления занятиями.
                                <br>
                                Пока что наша система предназначена только для учеников и учителей 5-11 классов ЮМШ и
                                8-11
                                "г"
                                классов лицея №533.
                            </div>
                        </div>


                        <div class="field">
                            <label class="label is-size-4">Ученику:</label>
                            <div class="control is-size-5">
                                Все Ваши задания теперь выглядят, как карточки, которым вы можете <br>
                                прикреплять свои метки(Выполнено, Невыполнено и.т.п). С установкой метки карточка будет
                                перемещаться в указанную категорию.
                            </div>
                        </div>
                        <div class="field">
                            <label class="label is-size-4">Учителю:</label>
                            <div class="control is-size-5">
                                Специально для Вас скоро будет реализована система конструирования заданий.
                                С помощью неё вы можете бысто создавать и редактировать задания, которые сразу будут
                                показаны
                                ученику, как те, которые нужно выполнить.
                            </div>
                        </div>


                    </div>

                    <div class="box container">
                        <div class="field">
                            <label class="label is-size-4">Табличка:</label>
                            <div class="control is-size-5">
                                Мы решили, что скорее всего у нашей системы на самых ранних этапах работы могут
                                возникать какие-то
                                проблемы,
                                поэтому, помимо карточек, была создана табличка, которая имеет два варианта работы:
                                показывать изначальный вид таблички и показывать продвинутый вид таблички.
                            </div>
                        </div>
                    </div>

                    <div class="box container">

                        <div class="field">
                            <label class="label is-size-4">Профили пользователей:</label>
                            <div class="control is-size-5">
                                У каждого пользователя сервиса есть свой профиль. Он нужен для того, чтобы другие
                                пользователи могли
                                видеть:
                                Преподаватель Вы или ученик и к каким классам относитесь.
                            </div>
                        </div>
                    </div>

                    <div class="box container">

                        <div class="field">
                            <label class="label is-size-4">Профили пользователей:</label>
                            <div class="control is-size-5">
                                Для использования нашей системы, Вам нужно просто
                                <a role="button" href="{{ url_for('register') }}"
                                    class="is-link">зарегистрироваться</a>, но если вы учитель, то для вас уже выделен
                                аккаунт и вам нужно обратиться на почту <a href="mailto:getteacher@yumshdist.ru">getteacher@yumshdist.ru</a>
                            </div>
                        </div>
                    </div>

                    <div class="box container">

                        <div class="field">
                            <div class="control is-size-4">В будущем такие возможности, как:</div>
                        </div>

                        <div class="field">
                            <label class="label is-size-4">Ученику:</label>
                            <div class="control is-size-5">
                                Отправка задания прямо через наш сервис.
                                Страница новостей, на которой Вам будут показываться новые посты из групп Вконтакте.
                                Встроенный чат.
                            </div>
                        </div>

                        <div class="field">
                            <label class="label is-size-4">Учителю:</label>
                            <div class="control is-size-5">
                                Конструирование и редактирование заданий.
                            </div>
                        </div>
                    </div>

            </div>

            </h2>
        </div>
        </div>
    </section>



</section>

{% endblock %}
