{% extends 'base.html' %}

{% block head %}

<title>Вход</title>

{% endblock %}

{% block header %}

{% endblock %}

{% block main %}

<div class="section">
    <div class="columns is-centered is-vcentered">
        <div class="column is-capitalized">
            <form class="form" method="POST" id="form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left has-icons-right" id="login">
                                <input class="input" type="text" placeholder="Имя пользователя" name="login"
                                    autocomplete="username" required>
                                <span class="icon is-small is-left">
                                    <i class="fas mdi mdi-24px mdi-account"></i>
                                </span>
                            </p>
                            <p class="help is-danger" id="loginHelp"></p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left has-icons-right" id="password">
                                <input class="input" type="password" placeholder="Пароль" name="password"
                                    autocomplete="current-password" required>
                                <span class="icon is-small is-left">
                                    <i class="fas mdi mdi-24px mdi-key"></i>
                                </span>
                            </p>
                            <p class="help is-danger" id="passwordHelp"></p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <div class="control captcha">
                                {{ recaptcha }}
                            </div>
                            <p class="help is-danger" id="captchaHelp"></p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary" type="submit">
                                    Вход
                                </button>
                            </div>
                            <p class="help"> <a href="{{ url_for('reset_password') }}"> Забыли пароль? </a> </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}

<script>
    let captchaError = '{{ errors["captcha"] }}';
    let loginError = '{{ errors["login"] }}';
    let telError = '{{ errors["tel"] }}';
    let nameError = '{{ errors["name"] }}';
    let passwordError = '{{ errors["password"] }}';
    let emailError = '{{ errors["email"] }}';
</script>

<script src="{{ url_for('static', filename='js/register.js') }}"></script>

{% endblock %}