{% extends 'base.html' %}

{% block base_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

{% block head %}
<title>YMS App</title>
{% endblock %}

{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow fixed-top"">
    <div class=" container">
    <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='resources/img/yms.png') }}" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('index') }}">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="{{ url_for('chat') }}">Chat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/notifications">Notifications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/news">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tasks">Tasks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('events') }}">Events</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if current_user.login %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/profile" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ current_user.firstname + ' ' + current_user.lastname + ' (' + current_user.login + ')' }}
                </a>
                <!-- Here's the magic. Add the .animate and .slide-in classes to your .dropdown-menu and you're all set! -->
                <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('index') }}">Action</a>
                    <a class="dropdown-item" href="/profile">Profile</a>
                    <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                </div>
            </li>
            {% else %}
            <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
                <a class="btn btn-dark" role="button" href="{{ url_for('login_page') }}">Sign-in</a>
                <a class="btn btn-dark" role="button" href="{{ url_for('register') }}">Sign-up</a>
            </div>
            {% endif %}
        </ul>
    </div>
    </div>
</nav>

<header class="masthead">{% block header %}{% endblock %}</header>
<main>{% block main %}{% endblock %}</main>
<footer>{% block footer %}{% endblock %}</footer>

{% block script %}{% endblock %}

{% endblock %}
