{% extends "base.html" %}

{% block head %}

<title>Profile</title>

{% endblock %}

{% block main %}

<!-- <div class="content section container is-fluid">
    <div class="tile is-ancestor">
        <div class="tile box is-parent">
            <div class="tile is-parent is-vertical box has-background-white-ter">
                <article class="tile is-child section box has-background-grey-lighter">
                    <figure class="image container is-256x256">
                        <img id="userAvatar" alt="User Avatar">
                    </figure>
                </article>
                
                <div class="tile is-child box has-background-grey-lighter">
                    <div class="text has-text-grey-dark has-text-centered has-text-weight-bold">
                        {{ user.lastname + ' ' + user.firstname }}
                        {% if user.patronymic %}
                        {{ ' ' + user.patronymic }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="tile is-child box">
                <div class="has-background-grey-lighter">
                    <div class="text has-text-grey-dark has-text-weight-bold word-wrap">
                        {{ user.additional_info }}
                    </div>
                </div>    
            </div>
        </div>
        

    </div>
</div> -->
    
<div class="section">
    <div class="tile is-ancestor">
        <div class="tile is-parent is-vertical is-4">
            <!-- <div class="tile">
                <div class="tile is-parent is-vertical"> -->
            <article class="tile is-child box">
                <figure class="image container is-256x256">
                    <img id="userAvatar" alt="User Avatar">
                </figure>
            </article>
            <article class="tile is-child box">
                <p class="text has-text-grey-dark has-text-centered has-text-weight-bold is-size-5">
                    {{ user.lastname + ' ' + user.firstname }}
                    {% if user.patronymic %}
                    {{ ' ' + user.patronymic }}
                    {% endif %}
                </p>
                <br>
                {% if user.additional_info %}
                <p>
                    {{ user.additional_info }}
                </p>
                {% endif %}
            </article>
            <!-- </div>
            </div> -->
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <label class="label is-size-4">Контакты</label>

                <div class="field">
                    <label class="label">Почта:</label>
                    <div class="control">
                        <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                    </div>
                </div>

                {% if user.phone_number %}
                <div class="field">
                    <label class="label">Телефонный номер:</label>
                    <div class="control">
                        <a href="tel:+{{ user.phone_number }}">+{{ user.phone_number }}</a>
                    </div>
                </div>
                {% endif %}
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box" id="groups">
                <label class="label is-size-4">Группы</label>
                <!-- <div class="field">
                    <div class="section">
                        <div class="tag is-size-5 is-success">{{ group }}</label>
                    </div>
                </div> -->
            </article>
        </div>
    </div>
</div>



{% endblock %}

{% block scripts %}

<script>
    (function () {
        var csrf_token = "{{ csrf_token() }}";

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });
    })();
</script>

<script src="{{ url_for('static', filename='js/user.js') }}"></script>
<script src="{{ url_for('static', filename='js/post.js') }}"></script>

<script>
    let userID = {{ user.id }};
    let userAvatarSrcID = parseInt('{{ user.avatar }}');
    // console.debug(userID, userAvatarSrcID);
    let userAvatarSrc = "./../static/resources/img/yms.png";
    if (userAvatarSrcID) {
        $.postJSON('/api/v1/files/get', { file_id: userAvatarSrcID }, data => {
            userAvatarSrc = data.data;
            console.log(data.data);
            $('#userAvatar').attr({ src: userAvatarSrc });
        });
    }
    $('#userAvatar').attr({ src: userAvatarSrc });
    var encodedStr = '{{ user.groups }}';

    var parser = new DOMParser;
    var dom = parser.parseFromString(
        '<!doctype html><body>' + encodedStr,
        'text/html');
    var decodedString = dom.body.textContent;

    decodedString = decodedString.replace(/'/g, '"');
    console.log(decodedString);
    let groups = JSON.parse(decodedString).groups;
    let groupNames = [];
    groups.forEach(group => {
        $.postJSON('/api/v1/groups/get', { group_id: group }, data => {
            groupNames.push(data.data.name);
        }, false);
    });
    groupNames.forEach(group => {
        $('#groups').append(
            $('<div class="field"></div>').append(
                $('<div class="tag is-size-5 is-success is-capitalized"></label>').text(group)
            )
        );
    });
</script>

{% endblock %}