{% extends 'base.html' %}

{% block head %}

<title>Регистрация</title>

{% endblock %}

{% block header %}

{% endblock %}

{% block main %}

<div class="section">
	<div class="columns is-centered is-vcentered">
		<div class="column is-capitalized">
			<form class="form" method="POST" id="form">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label">ФИО</label>
					</div>
					<div class="field-body is-grouped">
						<div class="field">
							<p class="control is-expanded has-icons-left has-icons-right" id="lastname">
								<input class="input" type="text" placeholder="Фамилия" name="lastname"
									autocomplete="family-name" required>
								<span class="icon is-small is-left">
									<i class="fas mdi mdi-24px mdi-account"></i>
								</span>
							</p>
						</div>
						<div class="field">
							<p class="control is-expanded has-icons-left has-icons-right" id="firstname">
								<input class="input" type="text" placeholder="Имя" name="firstname"
									autocomplete="given-name" required>
								<span class="icon is-small is-left">
									<i class="fas mdi mdi-24px mdi-account"></i>
								</span>
							</p>
							<p class="help is-danger" id="nameHelp"></p>
						</div>
						<div class="field">
							<p class="control is-expanded has-icons-left has-icons-right" id="patronymic">
								<input class="input" type="text" placeholder="Отчество" name="patronymic"
									autocomplete="additional-name">
								<span class="icon is-small is-left">
									<i class="fas mdi mdi-24px mdi-account"></i>
								</span>
							</p>
						</div>
					</div>
				</div>

				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label">Контакты</label>
					</div>
					<div class="field-body">
						<div class="field">
							<p class="control is-expanded has-icons-left has-icons-right" id="email">
								<input class="input" type="email" placeholder="Электронная почта" name="email" autocomplete="email"
									required>
								<span class="icon is-small is-left">
									<i class="fas mdi mdi-24px mdi-email"></i>
								</span>
								<!-- <span class="icon is-small is-right has-text-danger">
                                    <i class="fas mdi mdi-24px mdi-alert"></i>
                                </span> -->
							</p>
							<p class="help is-danger" id="emailHelp"></p>
						</div>
					</div>
				</div>

				<div class="field is-horizontal">
					<div class="field-label"></div>
					<div class="field-body">
						<div class="field is-expanded">
							<div class="field has-addons">
								<p class="control is-expanded has-icons-left has-icons-right" id="tel">
									<input class="input" type="tel" placeholder="Номер телефона" name="phone_number"
										autocomplete="tel">
									<span class="icon is-small is-left">
										<i class="fas mdi mdi-24px mdi-phone"></i>
									</span>
								</p>
							</div>
							<p class="help is-danger" id="telHelp"></p>
						</div>
					</div>
				</div>

				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label">Учетная запись</label>
					</div>
					<div class="field-body">
						<div class="field">
							<p class="control is-expanded has-icons-left has-icons-right" id="login">
								<input class="input" type="text" placeholder="Имя пользователя" name="login"
									autocomplete="username" required>
								<span class="icon is-small is-left">
									<i class="fas mdi mdi-24px mdi-account"></i>
								</span>
							</p>
							<p class="help is-danger" id="loginHelp"></p>
						</div>
					</div>
				</div>

				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label"></label>
					</div>
					<div class="field-body">
						<div class="field">
							<p class="control is-expanded has-icons-left has-icons-right" id="password">
								<input class="input" type="password" placeholder="Пароль" name="password" required>
								<span class="icon is-small is-left">
									<i class="fas mdi mdi-24px mdi-key"></i>
								</span>
							</p>
							<p class="help is-danger" id="passwordHelp"></p>
						</div>
					</div>
				</div>

				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label"></label>
					</div>
					<div class="field-body">
						<div class="field">
							<p class="control is-expanded has-icons-left has-icons-right" id="password2">
								<input class="input" type="password" placeholder="Подтверждение пароля" name="password2"
									required>
								<span class="icon is-small is-left">
									<i class="fas mdi mdi-24px mdi-key"></i>
								</span>
							</p>
							<p class="help is-danger" id="password2Help"></p>
						</div>
					</div>
				</div>

				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label">Класс</label>
					</div>
					<div class="field-body">
						<div class="field is-narrow">
							<div class="control">
								<div class="select is-fullwidth">
									<select name="grade">
										{% for grade in grades %}
										<option>{{ grade }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- {% if False %} -->
				<!-- <div class="field is-horizontal">
					<div class="field-label">
						<label class="label">Teacher</label>
					</div>
					<div class="field-body">
						<div class="field is-narrow">
							<div class="control">
								<label class="checkbox"></label>
								<input type="checkbox" name="is_teacher" id="isTeacher">
								&nbsp;<p class="help is-danger is-right is-pulled-right is-danger" id="isTeacherHelp">
								</p>
							</div>
							<p class="help">Укажите отчество</p>
						</div>
					</div>
				</div> -->
				<!-- {% endif %} -->

				<div class="field is-horizontal">
					<div class="field-label">
					</div>
					<div class="field-body">
						<div class="field is-narrow">
							<div class="control captcha">
								{{ recaptcha }}
							</div>
							<p class="help is-danger" id="captchaHelp"></p>
						</div>
					</div>
				</div>

				<div class="field is-horizontal">
					<div class="field-label">
						<!-- Left empty for spacing -->
					</div>
					<div class="field-body">
						<div class="field">
							<div class="control">
								<button class="button is-primary" type="submit">
									Зарегистрироваться
								</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}

<script>
	let captchaError = '{{ errors["captcha"] }}';
	let loginError = '{{ errors["login"] }}';
	let telError = '{{ errors["tel"] }}';
	let nameError = '{{ errors["name"] }}';
	let passwordError = '{{ errors["password"] }}';
	let emailError = '{{ errors["email"] }}';
</script>

<script src="{{ url_for('static', filename='js/register.js') }}"></script>

{% endblock %}
