{% extends "base.html" %}

{% block head %}

<title>Сброс пароля</title>

{% endblock %}

{% block main %}
<section class="section">
    <div class="box">
        <h1 class="is-size-1 is-size-3-mobile has-text-centered">
            Сброс пароля
        </h1>

        <form class="for-group" method="post" accept-charset="utf-8" autocomplete="off" role="form"
            class="form-horizontal">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

            <div class="field">
                {% if mode %}
                <label class="label" for="password-input">Пароль</label>
                <p class="control is-expanded has-icons-left has-icons-right" id="password">
                    <input class="input " type="password" placeholder="Пароль" name="password"
                        autocomplete="family-name" id="password-input" required>
                    <span class="icon is-small is-left">
                        <i class="fas mdi mdi-24px mdi-key"></i>
                    </span>
                </p>

                {% else %}
                {% if info %}
                <br>
                <div class="box has-background-success">
                    <p class="help is-size-5 is-size-6-mobile has-text-white" id="info">
                        {{ info[0] }}
                    </p>
                </div>
                {% endif %}

                <br>

                <label class="label">Электронная почта</label>
                <p class="control is-expanded has-icons-left has-icons-right" id="email">
                    <input class="input" type="text" placeholder="Электронная почта" name="email" id="email-input"
                        autocomplete="family-name" required>
                    <span class="icon is-small is-left">
                        <i class="fas mdi mdi-24px mdi-email"></i>
                    </span>
                </p>

                {% endif %}

                <p class="help is-danger is-right" id="emailHelp"></p>
                <p class="help is-danger is-right" id="passwordHelp"></p>
            </div>
            <br>
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit" id="submit">Отправить</button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script>
    let captchaError = null;
    let loginError = null;
    let telError = null;
    let nameError = null;
    let passwordError = '{% if errors %}{{ errors["password"] }}{% endif %}';
    let emailError = '{% if errors %}{{ errors["email"] }}{% endif %}';
</script>

<script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}