{% extends 'base.html' %}

{% block is_table %}
is-active
{% endblock %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/events.css') }}">
<title>Таблица</title>

{% endblock %}

{% block main %}

<input type="checkbox" id="isRaw"> Исходные данные

<div class="scrollable-container">
    <table class="table is-bordered is-striped is-narrow">
        <thead id="thead">
            <tr>
                <th scope="col"><button class="button is-loading has-background-grey-light is-fullwidth">Loading
                        Загрузка</button></th>
                <th scope="col"><button class="button is-loading has-background-grey-light is-fullwidth">Loading
                        Загрузка</button></th>
                <th scope="col"><button class="button is-loading has-background-grey-light is-fullwidth">Loading Loading
                        Загрузка</button></th>
                <th scope="col"><button class="button is-loading has-background-grey-light is-fullwidth">Loading Loading
                        Загрузка Загрузка</button></th>
                <th scope="col"><button class="button is-loading has-background-grey-light is-fullwidth">Loading Loading
                        Загрузка Загрузка Загрузка</button></th>
            </tr>
        </thead>
        <tbody id="tbody">
            <tr>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
            </tr>
            <tr>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
            </tr>
            <tr>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
            </tr>
            <tr>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
            </tr>
            <tr>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
            </tr>
            <tr>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
            </tr>
            <tr>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
            </tr>
            <tr>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
            </tr>
            <tr>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
            </tr>
            <tr>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
            </tr>
            <tr>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
                <td scope="col"><button class="button is-loading has-background-light is-fullwidth"></button></td>
            </tr>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}

<script>
    let mode = null;
    
    (function () {
        var csrf_token = "{{ csrf_token() }}";

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });
    })();
</script>

<script src="{{ url_for('static', filename='js/autolink.js') }}"></script>
<script src="{{ url_for('static', filename='js/user.js') }}"></script>
<script src="{{ url_for('static', filename='js/post.js') }}"></script>
<script src="{{ url_for('static', filename='js/task.js') }}"></script>
<script src="{{ url_for('static', filename='js/events/event.js') }}"></script>
<script src="{{ url_for('static', filename='js/events/table_main.js') }}"></script>

{% endblock %}