{% extends "base.html" %}

{% block head %}
<title>Upload new File</title>
{% endblock %}
{% block main %}
<h1>Upload new File</h1>
<form action="" method=post enctype=multipart/form-data>
	<input type=file name=file>
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
	<input type=submit value=Upload>
</form>
{% endblock %}
