@charset 'utf8';
@import 'variables.scss';

.head-cell,
.cell {
    text-align: justify;
    font-size: 1em;
    font-weight: 500;
    max-width: 100vw;
}

.head-cell {
    position: sticky;
    top: -1px;
    background-color: $table-head-cell-bgc;
}

.scrollable-container {
    overflow-y: scroll;
    overflow-x: scroll;
    height: 85vh;
    width: 82vw;
    margin-right: 1%;
    padding-right: 0;
    padding-left: 0;
}

@media (min-width: 0) and (max-width: 768px) {
    .scrollable-container {
        overflow-y: scroll;
        overflow-x: scroll;
        height: 85vh;
        width: 100vw;
        margin-right: 1%;
        padding-right: 0;
        padding-left: 0;
    }
}

// .myevent {
//     cursor: pointer;

//     transition: transform .4s;

//     &::after {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
//         box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
//         content: '';
//         opacity: 0;
//         z-index: -1;
//     }

//     &:hover,
//     &:focus {
//         &::after {
//             opacity: 1;
//         }
//     }
// }

// .mytitle {
//     margin-bottom: 0;
// }
