@charset "utf-8";
@import 'variables.scss';

@import '../vendor/bulma-0.8.2/bulma.sass';

.help {
    text-transform: none;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.sticky {
    position: sticky;
    top: $navbar-height + 0.25rem;
}

.loading {
    background-clip: content-box;
    background-color: $loading-color;
}

.disabled {
    cursor: not-allowed;
    background-color: $gray;
    color: $light-gray;
}

.fa-disabled {
    opacity: $disabled-opacity;
    cursor: not-allowed;
}

.word-wrap {
    // overflow-wrap: break-word;
    // word-wrap: break-word;
    word-wrap: normal;
}

.no-wrap {
    white-space: nowrap;
}

.unscrollable {
    overflow-y: hidden;
}

.fixed-max-width {
    max-width: 90vw;
}

.myhoverable {
    transition: all 0.4s;
    cursor: pointer;
    &:hover {
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    }
}
