@charset 'utf8';

// $dark: hsl(0, 0%, 12%);
// $primary: hsl(0, 0, 29);
// $body-background-color: hsl(0, 0, 7);
// $navbar-background-color: hsl(0, 0, 14);
// $control-border-width: 0.2px;
// $input-shadow: none;

$loading-color: hsl(0, 0, 88);
$gray: hsl(0, 0, 40);
$light-gray: hsl(0, 0, 60);
$table-head-cell-bgc: hsl(0, 0%, 71%);
$navbar-background-color: hsla(0, 0%, 100%, 0.93);
$dimensions: 16 24 32 48 64 96 128 256;
$disabled-opacity: 0.5;
$section-padding: 1.5rem 1.5rem;

// $danger: hsl(0, 100%, 62%);
$desktop: 1216px;
$widescreen: 1408px;
$fullhd: 1920px;