.head-cell,
.cell {
  text-align: justify;
  font-size: 1em;
  font-weight: 500;
  max-width: 100vw;
}

.head-cell {
  position: sticky;
  top: -1px;
  background-color: #b5b5b5;
}

.scrollable-container {
  overflow-y: scroll;
  overflow-x: scroll;
  height: 85vh;
  width: 82vw;
  margin-right: 1%;
  padding-right: 0;
  padding-left: 0;
}

@media (min-width: 0) and (max-width: 768px) {
  .scrollable-container {
    overflow-y: scroll;
    overflow-x: scroll;
    height: 85vh;
    width: 100vw;
    margin-right: 1%;
    padding-right: 0;
    padding-left: 0;
  }
}

/*# sourceMappingURL=events.css.map */
